# Production Configuration
http://vnadi.com {
    redir https://vnadi.com{uri}
}

vnadi.com {
    tls {
        dns digitalocean {env.DIGITALOCEAN_API_TOKEN}
    }
    reverse_proxy app:3000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }
}

http://minio.vnadi.com {
    redir https://minio.vnadi.com{uri}
}

https://minio.vnadi.com {
    tls {
        dns digitalocean {env.DIGITALOCEAN_API_TOKEN}
    }
    reverse_proxy minio:9000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }
}

http://socket.vnadi.com {
    redir https://socket.vnadi.com{uri}
}

https://socket.vnadi.com {
    tls {
        dns digitalocean {env.DIGITALOCEAN_API_TOKEN}
    }
    reverse_proxy soketi:6001 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up Connection {http.upgrade}
        header_up Upgrade {http.upgrade}
    }

    header X-Frame-Options "SAMEORIGIN"
    header X-XSS-Protection "1; mode=block"
    header X-Content-Type-Options "nosniff"

    log {
        output file /var/log/caddy/socket.vnadi.com.log
    }
}
