# Local Configuration
http://localhost {
    reverse_proxy app:3000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }
}

http://minio.localhost {

    reverse_proxy /ui/* minio:9001 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }

    reverse_proxy minio:9000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }
}

http://socket.localhost {

    reverse_proxy centrifugo:8000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up Connection {http.upgrade}
        header_up Upgrade {http.upgrade}
    }

    log {
        output file /var/log/caddy/socket.localhost.log
    }
}
